<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-1 w-100">
      <h2>顧客情報新規登録</h2>
       <%= form_with model: @customer, local:true do |f| %>
      <table class="table">
        <tr>
          <th class="text-center">企業名</th>
          <td><%= f.text_field :company, :size=>"30" %></td>
        </tr>
        <tr>
          <th class="text-center">担当者名</th>
          <td><%= f.text_field :name, :size=>"30" %></td>
        </tr>
        <tr>
          <th class="text-center">住所</th>
          <td><%= f.text_field :address, :size=>"50" %></td>
        </tr>
        <tr>
          <th class="text-center">電話番号</th>
          <td><%= f.text_field :tel, :size=>"30" %></td>
        </tr>
        <tr>
          <th class="text-center">メール</th>
          <td><%= f.text_field :email, :size=>"30" %></td>
        </tr>
        <tr>
          <th class="text-center">最終訪問日</th>
          <td><%= f.text_field :last_visit_date, :size=>"30" %></td>
        </tr>
        <tr>
          <th class="text-center">メモ</th>
          <td><%= f.text_area :memo, :size=>"50x5" %></td>
        </tr>
      </table>
      <%= f.submit '登録' %>
      <% end %>
    </div>
  </div>
</div>

