<div class="container">
  <div class="row">
    <div class="col-xs-1">
      <h2>顧客情報新規登録</h2>
      <%= form_with model: @customer, local:true do |f| %>
       <h4>企業名</h4>
       <%= f.text_field :company %>
       <h4>担当者名</h4>
       <%= f.text_field :name %>
       <h4>住所</h4>
       <%= f.text_field :address %>
       <h4>電話番号</h4>
       <%= f.text_field :tel %>
       <h4>メール</h4>
       <%= f.text_field :email %>
       <h4>最終訪問日</h4>
       <%= f.text_field :last_visit_date %>
       <h4>メモ</h4>
       <%= f.text_area :memo %><br/>
       <%= f.submit '登録' %>
      <% end %>
      
    </div>
    
  </div>
</div>

