<!DOCTYPE html>
<html>
  <head>
    <title>Customers Info</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag 'customers_info-logo2.png', :size =>'160x60' %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <!-- ログインしている時 -->
              <% if member_signed_in? %>
                <li>
                  <%= link_to "マイページ", member_path(current_member.id), class: 'fas fa-id-card nav-link text-light'  %>
                </li>
                <li>
                  <%= link_to "取引先追加", new_customer_path, class: 'fas fa-plus-square nav-link text-light'  %>
                </li>
                <li>
                  <%= link_to "取引先一覧", customers_path, class: 'fas fa-building nav-link text-light' %>
                </li>
                <li>
                  <%= link_to "メンバー一覧", members_path, class: 'fas fa-user nav-link text-light'  %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link text-light'  %>
                </li>

              <!-- ログインしていない時 -->
              <% else %>
                <li>
                  <%= link_to "トップ", root_path, class: 'fas fa-home nav-link text-light' %>
                </li>
              　<li>
                  <%= link_to "アバウト", homes_about_path, class: 'fas fa-link nav-link text-light' %>
                </li>
                <li>
                  <%= link_to "メンバー登録", new_member_registration_path, class: 'fas fa-user-plus nav-link text-light'  %>
                </li>
                <li>
                  <%= link_to "ログイン", new_member_session_path, class: 'fas fa-sign-in-alt nav-link text-light'  %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <main>
       <%= yield %>
    </main>
     
  </body>
</html>
